<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .message.ok { color: green; }
      .message.notOk > span { color: red; background-color: yellow; }
      .message.empty { color: red; }
      #lunch-menu.ok { border: 1px solid green; }
      #lunch-menu.notOk { border: 1px solid red; background-color: yellow; }
      #lunch-menu.empty { border: 1px solid red; }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control ng-class: {ok: messageOk, notOk: messageNotOk, empty: messageEmpty}"
             ng-model="lunchContents" ng-focus="clearResult()">
             (Empty items &mdash; e.g., item1, item2, , item3 &mdash; don't count towards the total.)
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
         </div>
         <div class="form-group message ng-class: {ok: messageOk, notOk: messageNotOk, empty: messageEmpty}">
           <span>{{lunchCheckResult}}</span>
         </div>
   </div>

</body>
</html>
