<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Shopping List Check Off</title>
  </head>
  <body>
    <h1>Shopping List Check Off</h1>
    <div id="list1" ng-controller="ToBuyController as toBuy">
      <h2>To Buy</h2>
      <ol>
        <li ng-repeat="item in toBuy.items">
          Buy {{ item.quantity }} {{ item.name }} &nbsp;
          <button type="button" ng-click="toBuy.buyItem($index)">Bought</button>
        </li>
      </ol>
      <h3 ng-if="toBuy.items.length===0">Everything is bought!</h3>
    </div>
    <div id="list2" ng-controller="AlreadyBoughtController as alreadyBought">
      <h2>Already Bought</h2>
      <ol>
        <li ng-repeat="item in alreadyBought.items">
          Bought {{ item.quantity }} {{ item.name }}
        </li>
      </ol>
      <h3 ng-if="alreadyBought.items.length===0">Nothing bought yet</h3>
    </div>
  </body>
</html>
